
*{
    box-sizing: border-box;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    .project-title{
        font-size: 45px;
        color: white;
        width: 100%;
        height: 70px;
        font-weight: 900;
        justify-items: center;
        text-align: center;
        background-color: transparent;
        margin-bottom: 20px;
        margin-top: -30px;
    }
    .card{
        ::-webkit-scrollbar {
            height: 30px;              
            border: 1px solid #d5d5d5;
            background: white;
        }
        ::-webkit-scrollbar-thumb:horizontal{
            background: rgb(123, 150, 161);
            border-radius: 50px;
        }
        width: 75%; 
        height: 75%;
        background-color: #FFFFFF;
        font-size:16px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
        transition: 0.3s;
        border-radius: 50px; 

        ul{
            height: 15%;
            min-height: 15%;
            display: flex;
            overflow: hidden;
            background: rgb(123, 150, 161);
            padding-left: 0;
            li{
                align-items: center;
                justify-content: center;
                display:flex;
                box-sizing: border-box;
                width: 25%; 
                height: 100%;
                min-height: 100%;
                font-size: small;
                cursor: pointer;
                text-align: center;
                overflow: hidden;
                font-weight: bolder;
                color:white;
            }
            .active{
                background-color: white;
                color: black;
            }
        }

        .projects-container{
            height: 85%;
            width: 100%;
            display: flex;
            color: black;
            overflow-x: scroll;
            align-items: center;
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 30px;
            .project{
                cursor: pointer;
                min-width: 25%;
                width: 25%;
                overflow-y: visible;
                overflow-x: visible;
                margin-right: 20px;
                margin-left: 20px;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 20px;
                    border: 1px solid rgb(240, 239, 239);
                }
            }
            .project:hover {
                transform: scale(1.3);   
                z-index: 1;
            }
        }
    }
    .card:hover {
        box-shadow: 0 30px 156px 0 rgb(0, 0, 0);
      }
    
    h1{
        min-height: 15%;
        height: 15%;
        color: #212121;
        font-size: 3.0vw;
        padding-top: 15px;
        align-content: center;
    }
    a {
        display: block;
        padding: 5px 0px;
        color: black;
        text-decoration: none;
    }
    a:hover{
    background-color: #FAFAFA;
    color: inherit;
    }


    
}

@media (max-width: 600px){
    .projects{
        .project-title{
         margin-top: -160px;
        }
    .card{
        min-width: 100%;
        height: 50%;
        padding-left: 0px !important;
        padding-right: 0px !important;
        border-radius: 15px;
        ::-webkit-scrollbar {
            display: none;
        }
        ::-webkit-scrollbar-thumb:horizontal{
            display: none;
        }

        ul{
            background-color: white;
            display: none;  
            li{
                display: none;
            }
        }
        .projects-container{
            min-width: 100%;
            min-height: 100%;
            padding-left: 0;
            padding-right: 0;
            .project{
                min-width: 85%;
             margin-left: 0;
                font-weight: 900;
                a{
                    h3{
                        color: black;
                        font-size: 3.5vh;
                    }
                    img{
                        border: 0px;
                    }
                }
            }
            .project:hover{
                transform: none;
            }
        }
    }
    .card:hover {
        box-shadow:none;
      }

      a:hover{
        background-color: transparent;
        color: inherit;
        }
    
}
}
